*{
    box-sizing: border-box;
}

body{
    background-color: #ae7f7d;
    height: 100vh;
    margin: 0;
}

.text-clamp{
    text-align: center;
    font-size: clamp(20px, 5vmin, 100px);
    opacity: 0;
    animation: reveal-text 2s ease forwards;
    animation-delay: 6s;
    margin-top: 20px;
}

.grid-template{
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
}

.envelope{
    perspective: 1000px;
    position: relative;
    width: 60vmin;
    aspect-ratio: 16 / 9;
    background-color: #e2e8f0;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1),
                0 8px 10px -6px rgba(0,0,0,0.1);
}

.flap {
   background-color: #cbd5e1;
   clip-path: polygon(100% 0%, 0 0%, 50% 100%);
   width: 100%;
   height: 30%;
   transform-origin: 50% 0;
   animation: flap-open 3.5s ease forwards;
   animation-delay: 0s;
   z-index: 4;
   position: relative;
}

.face{
    clip-path: polygon(50% 35%, 100% 0, 100% 100%, 0 100%, 0 0);
    background-color: #f1f5f9;
    position: absolute;
    inset: 0;
    z-index: 3;
}

.heart {
    position: absolute;
    width: 45%;
    left: 50%;
    top: 0;
    transform: translate(-50%, 20%);
    animation: heart-rise 3.5s ease forwards;
    animation-delay: 3.5s;
    aspect-ratio: 1 / 1;
    z-index: 3;
    background: #ffd700 url(Sin_título.png) center/cover no-repeat;
    border-radius: 12px;
}

@keyframes flap-open {
    from {
        transform: rotateX(0deg);
        z-index: 4;
    }
    to {
        transform: rotateX(180deg);
        z-index: 1;
    }
}

@keyframes heart-rise {
    from {
        transform: translate(-50%, 20%);
        opacity: 1;
    }
    to {
        transform: translate(-50%, -90%);
        opacity: 1;
    }
}

@keyframes reveal-text {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
